*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-family: "Montserrat", sans-serif;
}

body {
  margin-top: 60px;
}

html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

html::-webkit-scrollbar-thumb {
  background: #7e7eff;
  border-radius: 5px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #6666d3;
}

html::-webkit-scrollbar-track {
  background: #7e7eff83;
  transition: 0.4s;
}

/* NAVBAR STYLES START*/
nav {
  width: 100%;
  padding: 1.2rem;
  display: flex;
  justify-content: center;
  background-color: #7f7eff;
  position: fixed;
  top: 0;
  margin-bottom: 1.2rem;
  z-index: 9999;
}

/* .top-line {
  margin-inline: auto;
  width: 95%;
  height: 1px;
  background-color: #00171f24;
  margin-bottom: 1.2rem;
} */
nav .menu-link {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin: unset;
  padding: unset;
  margin-inline: 2rem;
}

nav .menu-link li {
  list-style-type: none;
}

nav .menu-link a {
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

nav .menu-link li:hover {
  animation: pulsate 0.8s ease-in-out infinite both;
}

@media screen and (max-width: 768px) {
  body {
    margin-top: 200px;
  }

  nav ul {
    text-align: center;
    flex-direction: column;
    gap: 0.8rem;
  }
}

.log-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border: none;
  color: #fff;
  background-color: #f6ae2d;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 8px 2px -5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.log-btn:hover {
  animation: jello-horizontal 0.9s both;
}

/* NAVBAR STYLES END */

/* HOMEPAGE STYLES START */

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-top: 5.5rem;
}

@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.call-section {
  width: 80vw;
  padding: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text h3 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  margin: 0;
  color: #f6ae2d;
}

.hero-text p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 1.2rem;
  color: #00171f;
}
.hero-img {
  width: 50%;
  animation: fade-in-fwd 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.hero-img > img {
  width: 100%;
  height: 100%;
}

.quote {
  text-align: center;
  width: 100%;
  background-color: #7e7eff;
  display: flex;
  justify-content: center;
}

.quote > div {
  width: 72%;
  padding: 5rem 4rem;
  display: flex;
  flex-direction: column;
}
.quote h5 {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-weight: 300;
  font-style: italic;
  font-size: 2rem;
  margin: 0;
}

.quote p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  margin-left: auto;
}

.second-section {
  width: 80vw;
  padding: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.second-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* animation: roll-in-blurred-right 0.9s cubic-bezier(0.23, 1, 0.32, 1) both; */
}
.second-text h3 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  margin: 0;
  color: #f6ae2d;
}

.second-text p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 1.2rem;
  color: #00171f;
}

.second-img {
  width: 50%;
  animation: fade-in-fwd 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.second-img > img {
  width: 100%;
  height: 100%;
}

.map-section {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: space-evenly;
  align-items: center;
}

.map-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* animation: roll-in-blurred-right 0.9s cubic-bezier(0.23, 1, 0.32, 1) both; */
}
.map-text h3 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  margin: 0;
  color: #f6ae2d;
}

.map-text p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 1.2rem;
  color: #00171f;
}

/* MAPS STYLES START */
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.-mini-map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.mini-map-container > .leaflet-container {
  border-radius: 20px;
  width: 60vw;
  height: 40vh;
  border: 10px solid #f6ae2d;
}

.marker-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.2rem 0.5rem;
}

.marker-popup > span {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.marker-popup button {
  font-family: "Montserrat", sans-serif;
  background-color: #f6ae2d;
  border: 1px solid #ca880d;
  padding: 0.2rem 0.5rem;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.marker-popup button:hover {
  animation: jello-horizontal 0.9s both;
}

.leaflet-container {
  border-radius: 20px;
  width: 80vw;
  height: 60vh;
  border: 10px solid #f6ae2d;
}

.cluster-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  /* -webkit-clip-path: url(#pet_shape);
  clip-path: url(#pet_shape); */
  outline: 2px solid red;
  background-color: rgba(255, 0, 0, 0.534);
  transform: translate(-25%, -25%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaflet-control-zoom a {
  background-color: #f6ae2d !important;
  color: #ffffff !important;
}

.leaflet-control-zoom a:hover {
  outline: 1px solid #fff !important;
}
.leaflet-control-geosearch input {
  font-family: "Montserrat", sans-serif !important;
}

.leaflet-control-geosearch button {
  background-color: #f6ae2d !important;
  color: #ffffff !important;
}

.leaflet-control-geosearch button:hover {
  outline: 1px solid #fff !important;
}

.results {
  font-family: "Montserrat", sans-serif !important;
}

.leaflet-popup-content {
  font-family: "Montserrat", sans-serif !important;
  font-size: 0.8rem !important;
}
/* MAPS STYLES END */

/* SLIDER STYLES START */
#main-slider-container {
  position: relative;
  width: 80vw;
  height: 605px;
  display: flex;
  align-items: center;
}

#slider {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* white-space: nowrap; */
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  animation: fade-in-fwd 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

#slider::-webkit-scrollbar {
  display: none;
}

.title-slider {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.slider-card-title {
  font-family: "raleway", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 600;
  margin-top: 5px;
  text-align: center;
}

.slider-card-description {
  font-family: "montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.btn-container {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  background-color: #f6ae2d;
  padding: 0.5rem;
  border-radius: 5px;
  position: absolute;
  top: -2px;
  right: -2px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.slider-card-image {
  width: 100%;
  height: 320px;
  background-color: rgb(240 240 240 / 80%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.slider-icon_left,
.slider-icon_right {
  position: absolute;
  opacity: 0.5;
  cursor: pointer;
  font-size: 2rem;
  color: #7e7eff;
  z-index: 10;
}

.slider-icon_left {
  left: 15px;
}

.slider-icon_right {
  right: 15px;
}

.slider-icon_left:hover,
.slider-icon_right:hover {
  opacity: 1;
  transition: 0.2s;
}

.slider-icon_left_img,
.slider-icon_right_img {
  position: absolute;
  opacity: 0.5;
  cursor: pointer;
  font-size: 2rem;
  color: #ffffff;
  z-index: 10;
}

.slider-icon_left_img {
  left: 15px;
}

.slider-icon_right_img {
  right: 15px;
}

.slider-icon_left_img:hover,
.slider-icon_right_img:hover {
  opacity: 1;
  transition: 0.2s;
}

#slider-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.slider-card {
  min-width: 400px;
  height: 600px;
  background-color: #7e7eff;
  border-radius: 10px;
  display: inline-block;
  margin-inline: 10px;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 12%);
  position: relative;
  overflow: hidden;
}

.img-slider-container {
  position: relative;
  width: 90%;
  height: 305px;
  display: flex;
  align-items: center;
}

.slider-image {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  display: inline-block;
  margin-inline: 10px;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 12%);
  cursor: pointer;
  overflow: hidden;
}

.slider-image > img {
  width: 100%;
  height: 100%;
}
/* SLIDER STYLES END */

/* HOMEPAGE STYLES END */

/* ADS PAGE STYLES START */
.ads-container {
  margin-top: 5.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
}

.ads-container > h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  color: #f6ae2d;
  margin: 0;
  text-align: center;
  line-height: 4rem;
}
.ads-row {
  width: 45%;
  background-color: #7e7eff;
  color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-start;
}
.ads-row > img {
  width: 100%;
  object-fit: cover;
}

.ads-text {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 1rem;
  text-align: center;
}

.ads-text > h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  margin: 0;
}

.ads-text > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  margin: 0;
}

.latest-ad {
  width: 80vw;
  background-color: #7e7eff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 1.2rem;
  animation: fade-in-fwd 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.latest-text {
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.latest-text h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  margin: 0;
}

.latest-text p {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.latest-text span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 0;
}

.ad-detail-container {
  margin-top: 5.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
}

.comment-container {
  margin-top: 0.5rem;
  width: 90%;
  background-color: #f6ae2d;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 1.2rem;
}

.comment-container > p {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  color: #ffffff;
  background-color: #7e7eff;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}

.comment-container span {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: #7e7eff;
  background-color: #ffffffe5;
  padding: 0.5rem;
  border-radius: 10px;
  text-align: center;
}

.user-comment {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.user-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.user-text {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.user-text > p {
  font-size: 0.9rem;
  font-weight: 600;
  color: #ffffff;
}
.user-text > img {
  width: 20px;
  height: 20px;
  color: #7e7eff;
}

.user-img > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.file-check {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
  background-color: #f6ae2d;
  color: #ffffff;
  padding: 0.4rem;
  border-radius: 5px;
  box-shadow: 2px 8px 2px -5px rgba(0, 0, 0, 0.1);
}
.file-check > svg {
  color: #ffffff !important;
  font-size: 1.2rem;
}
/* ADS PAGE STYLES END */

/* IMAGE SHOW STYLES START */
.image-show {
  font-family: "Raleway", sans-serif;
  margin-top: 5.5rem;
  margin-inline: auto;
  width: 80vw;
  padding: 1.2rem;
  border-radius: 15px;
  background-color: #7e7eff;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
}
.image-show > img {
  width: 100%;
  height: 100%;
}
/* IMAGE SHOW STYLES END */

/* CONTACT PAGE STYLES START */

.main-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
}

.contact-container {
  font-family: "Raleway", sans-serif;
  margin-top: 5.5rem;
  margin-inline: auto;
  width: 80vw;
  padding: 1.2rem;
  border-radius: 15px;
  background-color: #7e7eff;
}

.contact-container h3 {
  margin-inline: auto;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: #fff;
  background-color: #f6ae2d;
  padding: 0.8rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 8px 2px -5px rgba(0, 0, 0, 0.1);
}

.contact-container > form {
  margin-inline: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.custom-input {
  width: 100%;
  background-color: #ffffff5d;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  box-shadow: 2px 8px 2px -5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.custom-input-title {
  width: 100%;
  background-color: #ffffff5d;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  box-shadow: 2px 8px 2px -5px rgba(0, 0, 0, 0.1);
}

.custom-textarea {
  width: 100%;
  background-color: #ffffff5d;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  gap: 0.5rem;
  align-items: start;
  box-shadow: 2px 8px 2px -5px rgba(0, 0, 0, 0.1);
}

.custom-input > input {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  border: none;
  color: #ffffff;
}
.custom-input-title > input {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  border: none;
  color: #ffffff;
}

.custom-input > label {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 0.9rem;
}

.custom-textarea > textarea {
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  border: none;
  color: #ffffff;
}
.custom-textarea > textarea:focus {
  outline: none;
}

.custom-textarea > textarea::placeholder {
  color: #ffffff86;
}

.custom-input svg {
  color: #5959d8;
}

.custom-input > input:focus {
  outline: none;
}
.custom-input-title > input:focus {
  outline: none;
}

.custom-input-title > input::placeholder {
  color: #ffffff86;
}
.custom-input > input::placeholder {
  color: #ffffff86;
}

.custom-input > fieldset {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 0.8rem;
  border: none;
  display: flex;
  align-items: baseline;
  gap: 0.4rem;
}

.coordinates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coord-cont {
  display: flex;
  gap: 0.5rem;
}
.coord-cont input,
label {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  background-color: transparent;
  border: none;
  color: #ffffff;
}

.custom-input > fieldset input:checked::before {
  background-color: #f6ae2d !important;
}

.contact-container > form > button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border: none;
  color: #fff;
  background-color: #f6ae2d;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 8px 2px -5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.contact-container > form > button:hover {
  animation: jello-horizontal 0.9s both;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border: none;
  color: #fff;
  background-color: #f6ae2d;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 8px 2px -5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.custom-file-upload:hover {
  animation: jello-horizontal 0.9s both;
}
/* CONTACT PAGE STYLES END */

/* LOGIN AND REGISTER PAGES STYLES START */
.login-container,
.register-container {
  align-items: center;
  justify-content: center;
  background-color: #7e7eff;
  padding: 1.2rem;
  border-radius: 15px;
  margin-top: 5.5rem;
  width: 60vw;
  margin-inline: auto;
}

.login-container h3,
.register-container h3 {
  margin-inline: auto;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: #fff;
  background-color: #f6ae2d;
  padding: 0.8rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 8px 2px -5px rgba(0, 0, 0, 0.1);
}

.login-container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  font-family: "Raleway", sans-serif;
  margin-inline: auto;
  width: 80%;
}

.register-container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  font-family: "Raleway", sans-serif;
  margin-inline: auto;
  width: 80%;
}

.login-container > .custom-input input,
label {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  background-color: transparent;
  border: none;
  color: #ffffff;
}

.register-container > .custom-input input,
label {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  background-color: transparent;
  border: none;
  color: #ffffff;
}
.login-container span {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;

  color: #ffffff;
}

.login-container a {
  text-decoration: none;
}
.login-container button,
.register-container button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border: none;
  color: #fff;
  background-color: #f6ae2d;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 8px 2px -5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.login-container button:hover,
.register-container button:hover {
  animation: jello-horizontal 0.9s both;
}

.error-login {
  text-align: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #f6b02dcc;
  border: 1px solid #ca880d;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  color: white;
  font-size: 0.7rem;
  font-weight: 400;
}
/* LOGIN PAGE STYLES END */

/* DASHBOARD PAGE STYLES START */
.dashboard-container {
  align-items: center;
  justify-content: center;
  background-color: #7e7eff;
  padding: 1.2rem;
  border-radius: 15px;
  margin-top: 5.5rem;
  width: 80vw;
  margin-inline: auto;
}

.dashboard-container h3 {
  margin-inline: auto;
  width: 60%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: #fff;
  background-color: #f6ae2d;
  padding: 0.8rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 8px 2px -5px rgba(0, 0, 0, 0.1);
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  font-family: "Raleway", sans-serif;
  margin-inline: auto;
  width: 60%;
}

.profile-details p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #ffffff;
}
/* DASHBOARD PAGE STYLES END */

/* FOOTER STYLES START*/
footer {
  background-color: #7f7eff;
  padding-block: 0.5rem;
  margin-top: 1.2rem;
}
.footer,
.social {
  list-style-type: none;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  margin: unset;
  padding: unset;
  margin-inline: 2rem;
  margin-bottom: 1.2rem;
}

.footer > li {
  font-weight: 600;
  color: #ffffff;
}

.footer li:hover {
  animation: pulsate 0.8s ease-in-out infinite both;
}

.social img {
  width: 35px;
  cursor: pointer;
  fill: #ffffff;
}

.social li:hover {
  animation: pulsate 0.8s ease-in-out infinite both;
}
.social_text {
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #ffffff;
}
.footer a {
  font-family: "Montserrat", sans-serif;
  color: #00171f;
  font-weight: 300;
  text-decoration: none;
  color: #ffffff;
}

/* .bottom-line {
  margin-inline: auto;
  width: 95%;
  height: 1px;
  background-color: #00171f24;
  margin-block: 1.2rem;
} */

.rights > p {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  margin: unset;
  text-align: center;
  color: #ffffff;
  font-weight: 100;
}

.rights {
  display: flex;
  justify-content: center;
  margin-bottom: 1.2rem;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .second-section {
    flex-direction: column;
    gap: 1.2rem;
  }
  .call-section {
    flex-direction: column-reverse;
    gap: 1.2rem;
  }
  .hero-text h3,
  .second-section h3,
  .map-section h3 {
    font-size: 2rem;
  }

  .hero-text p,
  .second-section p,
  .map-section p {
    font-size: 1rem;
  }

  /* .leaflet-container {
    width: 45vh;
    height: 35vh;
    border: 10px solid #f6ae2d;
  } */
  .footer {
    text-align: center;
    flex-direction: column;
    gap: 0.8rem;
  }
}
/* FOOTER STYLES END */

/* BUTTONS STYLES START */

/* MORE BUTTON */
.btn-52,
.btn-52 *,
.btn-52 :after,
.btn-52 :before,
.btn-52:after,
.btn-52:before {
  border: 0;
  box-sizing: border-box;
}
.btn-52 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #7f7eff;
  background-image: none;
  color: #ffffff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
    Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#00171f, #e7ecef);
  padding: 0;
}
.btn-52:disabled {
  cursor: default;
}
.btn-52:-moz-focusring {
  outline: auto;
}
.btn-52 svg {
  display: block;
  vertical-align: middle;
}
.btn-52 [hidden] {
  display: none;
}
.btn-52 {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}
.btn-52 .original {
  background: #f6ae2d;
  color: #ffffff;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s;
}
.btn-52:hover .original {
  transform: translateY(100%);
}
.btn-52 .letters {
  display: inline-flex;
}
.btn-52 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s, opacity 0.2s;
}
.btn-52:hover span {
  opacity: 1;
  transform: translateY(0);
}
.btn-52:hover span:nth-child(2) {
  transition-delay: 0.1s;
}
.btn-52:hover span:nth-child(3) {
  transition-delay: 0.2s;
}
.btn-52:hover span:nth-child(4) {
  transition-delay: 0.3s;
}
.btn-52:hover span:nth-child(5) {
  transition-delay: 0.4s;
}
.btn-52:hover span:nth-child(6) {
  transition-delay: 0.5s;
}

/* ADS BUTTON */
.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0;
  box-sizing: border-box;
}
.btn-53 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #7f7eff;
  background-image: none;
  color: #ffffff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial,
    Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#00171f, #e7ecef);
  padding: 0;
}
.btn-53:disabled {
  cursor: default;
}
.btn-53:-moz-focusring {
  outline: auto;
}
.btn-53 svg {
  display: block;
  vertical-align: middle;
}
.btn-53 [hidden] {
  display: none;
}
.btn-53 {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}
.btn-53 .original {
  background: #f6ae2d;
  color: #ffffff;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s;
}
.btn-53:hover .original {
  transform: translateY(100%);
}
.btn-53 .letters {
  display: inline-flex;
}
.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s, opacity 0.2s;
}
.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}
.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}
.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}
.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}
.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}
.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}

/* BUTTONS STYLES END */
